/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/05/2017, 21:28:42
    Author     : conejo
*/

body{
    margin: 0;
    /*==============RESET==============*/

    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;  

    /*fim reset*/
}

h1{
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
    text-shadow: 5px 5px 5px rbga(0,0,0,1);
    font-size: 2.5em;
    /*color: #99cc00;*/
    color: #77B4D8;
    font-weight: 700;
}


h2{
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
    text-shadow: 5px 5px 5px rbga(0,0,0,1);
    /*color: #99cc00;*/
    color: #77B4D8;
    font-weight: 700;
}



.topo{
    max-width: 800px;
    height: 130px;
    background-color: white;
    margin: auto;
}

.logotipo{
    float: left;
    width: 180px;
}

.buscaPrincipal input{
    margin-top: 50px;
    margin-left: 20px;
    width: 300px;
    padding: 10px;
    border: solid 1px #77B4D8;
    border-radius: 5px;
    float: left;
}

.botaoBusca{
    float: left;
    width: 30px;
    padding: 9px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 1px;
    background-color:  #77B4D8;
}

.banner{
    padding: 0;
    width: 100%;
    margin: auto;
    float: left;
}

.banner img{
    width: 100%;
    max-height: 500px;
}


.menu{
    height: 50px;
    /*background-color: #99cc00;*/
    background-color:#77B4D8;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}


.menuint{
    width: 100%;
    max-width: 800px;
    margin: auto;
}


.menu ul{
    margin: 0;
    padding: 0;
}


.menu li{
    list-style: none;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    /*text-transform: uppercase;*/
    cursor: pointer;
}


.menu li:hover{
    background-color: #ffff00;
    color: #99cc00;
}


.menu a{
    color: white; 
}


.container{
    width: 100%;
    /*max-width: 800px;*/
    min-height: 300px;
    background-color: white;
    margin: auto;
}

.containerHome{
    max-width: 1000px;
    margin: auto;
}


.rodape{
    height: 100px;
    background-color: #99cc00;
}


.produto{
    width:180px;
    height:230px;
    margin:10px;
    float:left;
    background-color:#EEEEEE;
    text-align:center;
    border-radius: 10px;
    padding: 2px;
}

.produto img{
    border-radius: 10px;
}

.produto a{
    text-decoration: none;
    color: black;
}


.produto img:hover{
    width: 185px;
}


.linkproduto{
    color: black;
}

.produto_foto{
    border-radius: 20px;
    width: 500px;
    height:500px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;

}

.produto_foto img{
    border-radius: 10px;
}


.produto_info{
    width: 200px;
    float: left;
}

.botaoAddCarrinho{
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #77B4D8;
    border: none;
    text-decoration: none;
}

.botaoAddCarrinho:hover{
    border: 12px;
    border-color: red;
    background-color: #99cc00;
}

.contato input[type=text],
.contato input[type=email],
.contato textarea {
    width: 400px;
    border: 1px solid #99cc00;
    padding: 10px;
    border-radius: 5px;
}

.contato textarea {
    height: 200px;

}


.carrinho{
    width: 80px;
    height: 40px;
    float: right;
    border-radius: 5px;
    background-color: white; 
    color: black;
    padding-left: 20px;
    margin-top: 5px;

}

.carrinho a{
    color: black;
    text-decoration: none;
}


.finalizarCompra{
    width: 100%;
    background-color: #77B4D8;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    border-color: red;
    text-decoration: none;
    color:  #ffff00;
}


.finalizarCompra:hover{
    color: #ffff00;
    /*background-color: #ffff00;*/
    background-color: #99cc00;
}

.erro{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid lightcoral;
    background-color:  lightpink;
    border-radius: 3px;
    color: lightcoral;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}


.frmFinalizarCompra fieldset{
    margin-bottom: 10px;
    /*background-color: #ccffcc;
    color: #009933;
    */
    background-color: #FFFAFA;
    color: #8B4513;
    border-radius: 10px;
    border: solid 3px #8B4513;
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
}


.frmFinalizarCompra legend{
    color: #D2691E;
    text-shadow: 5px 5px 5px rbga(0,0,0,1);
    font-size: 20px;
}

.frmFinalizarCompra input[type=text],
.frmFinalizarCompra input[type=email],
.frmFinalizarCompra input[type=password]
{
    padding: 5px;
    border-radius: 5px;
}

.tituloH1{
    color: #99cc00;
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
    text-shadow: 5px 5px 5px rbga(0,0,0,1);
}


/*==============RODAPÉ==============*/
.rodape {
    width: 100%;
    margin: auto;
    float: left;
    padding-top: 3%;
    padding-bottom: 6%;
    text-align: center;
    /*background: linear-gradient(to right, #ce2e3c, #da6709);*/
    /*background: linear-gradient(to right, #556B2F, #ADFF2F);*/
    background: linear-gradient(to right, #77B4D8, #00ccff);
    
    
}
.social-icons a {
    font-size: 2.5em;
    color: rgba(255,255,255,0.7);
    margin-right: 3%; 
}
.social-icons a:last-child {
    margin-right: 0;
}
.social-icons a:hover{
    color: rgb(255,255,255);
}
.copyright{
    margin-top: 2%;
    color: rgba(255,255,255,0.7);
}
/*========FIM====RODAPÉ==============*/