/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/05/2017, 21:28:42
    Author     : conejo
*/

body{
    margin: 0;
}
.topo{
    height: 100px;
    background-color: #EEE;
}
.menu{
    height: 50px;
    background-color: #DDD;
}
.menuint{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu li{
    list-style: none;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.menu li:hover{
    background-color: #CCC;
}
.menu a{
    color: #000; 
}
.container{
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #CCC;
    margin: auto;
}
.rodape{
    height: 100px;
    background-color: #DDD;
}

.produto{
    width: 300px;
    height: 300px;
    background-color: #EEEEEE;
    float: left;
    margin: 10px;
    text-align: center;
}